.spollers {

	// .spollers__item button
	&__item button {
		text-align: start;
	}
	// .spollers__title
	&__title {
		position: relative;
		cursor: pointer;
		
		// .spollers__title::before, .spollers__title::after
		&::before,
		&::after {
			content: "";
			width: 20px;
			height: 1px;
			background-color: #000;
			position: absolute;
			right: 10px;
			top: 50%;
			transform: translateY(-50%);
			transition: 0.3s;
		}
	
		// .spollers__title::after
		&::after {
			transform: translateY(-50%) rotate(-90deg);
		}
		// .spollers__title.active
		&._active {
			// .spollers__title.active::after
			&::after {
				transform: translateY(-50%) rotate(0);
			}
		}
	}
}